
@{
    ViewBag.Title = "Offline";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Sadržaj nije moguće dohvatiti!</h1>
        <p class="lead">Sadržaj kojem želite pristupiti trenutno nije dostupan.</p>
    </div> 
</div>